
$bg : #171717;
$secondary_c:#56E695;

@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dim($ln, $hg){
    width: $ln;
    height: $hg;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: $bg;
    color: #fff;
}
header{
    text-align: center;
    font-size: 1.5rem;
    padding: 5vh 2vw;
    color: #252525;
    border-radius: 20px;
    margin: 5px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    h1 {
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: $bg;
      }
}

.container{
    div{
        margin: 1vw 1vh;
        border-radius: 10px;
    }
    border: 2px dashed $secondary_c;
    @include dim(100vw, 80vh);
    @include flex();
    flex-direction: column;

    .password_box{
        @include dim(80vw, 12vh);
        text-align: center;
        @include flex();
        background: $bg;
box-shadow: inset 5px 5px 10px #0b0b0b,
            inset -5px -5px 10px #252525;
        button{
            border:none;
            outline: none;
            @include dim(10%, 100%);
            border-radius: 10px;
            background-color:transparent;
            color: #fff;
            cursor: pointer;
            font-size: 1.2rem;
        }
        .password{
            width: 80%;
            font-size:1.7rem;
        }
    }
    .setting_box{
        @include dim(50vw, 37vh);
        display: grid;
        justify-content:center;
        border: 2px dotted #fff;
        .option{
            padding: 2vh 1vw 2vh 1vw;
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            @include flex(space-between, center);
            @include dim(25vw, 5vh);
            p{
                text-align:center;  
                font-size: 1.1rem;
            }
            input[type="checkbox"]{
                appearance:none;
                background-color: $bg;
                width: 1.5rem;
                height: 1.5rem;
                border: 3px double #fff;
                border-radius: 5px;
                cursor: pointer;
                display: grid;
                place-content: center;
            }
            input[type="checkbox"]::before{
                content: "";
                width: 0.8rem;
                height: 0.8rem;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1.2rem 1.2rem $secondary_c;
            }
            input[type="checkbox"]:checked::before {
                transform: scale(1);
              }
        }
    }
    .length_box{
        border: 3px double #fff;
        @include dim(60vw, 7vh);
        @include flex(space-around, center);
        font-size: 1.2rem;
        .range{
            outline: none;
            @include dim(35vw, 3vh);
            appearance:none;
            background: #111;
            border-radius: 15px;
            border: 1px dashed $secondary_c;
        }
        .range::-webkit-slider-thumb{
            appearance: none;
            @include dim(20px, 30px);
            border-radius: 20%;
            background-color: $secondary_c;
            cursor: pointer;
        }
    }
    #btn{
        border: 1px solid $secondary_c;
        outline: none;
        cursor: pointer;
        background: transparent;
        color: #fff;
        @include dim(50vw, 7vh);
        font-size: 1rem;
        transition: 100ms;
        &:hover{
            background-color:$secondary_c;
            color: #171717;
        }
    }
}

// responsive
@media all and (max-width: 800px){
    .container{
        border-top: none;
        border-bottom: none;
        border-right: 2px solid dashed $secondary_c;
        border-left: 2px solid dashed $secondary_c;
        .password_box{
            @include dim(90vw, 12vh);
        }
        .setting_box{
            @include dim(80vw, 37vh);
            .option {
                padding: 2vh 2vw;
                @include dim(50vw, 5vh)
            }
        }
        .length_box{
            @include dim(80vw, 7vh);
            .range {
                @include dim(50vw, 3vh)
            }
        }
    }
}