* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

@media (min-width: 700px) {
  html {
    font-size: calc(10px + 0.5vw);
  }
}

body {
  background-color: #171717;
  color: #fff;
}

header {
  text-align: center;
  font-size: 1.7rem;
  padding: 5vh 2vw;
  color: #252525;
  border-radius: 20px;
  margin: 5px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

header h1 {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: #171717;
}

.container {
  border: 2px dashed rebeccapurple;
  width: 100vw;
  height: 73vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container div {
  margin: 1vw 1vh;
  border-radius: 10px;
}

.container .password_box {
  width: 80vw;
  height: 12vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #171717;
  -webkit-box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #252525;
          box-shadow: inset 5px 5px 10px #0b0b0b, inset -5px -5px 10px #252525;
}

.container .password_box button {
  border: none;
  outline: none;
  width: 10%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.container .password_box .password {
  width: 80%;
  font-size: 1.7rem;
}

.container .setting_box {
  width: 50vw;
  height: 37vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dotted #fff;
}

.container .setting_box .option {
  padding: 2vh 1vw 2vh 1vw;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25vw;
  height: 5vh;
}

.container .setting_box .option p {
  text-align: center;
  font-size: 1.1rem;
}

.container .setting_box .option input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #171717;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px double #fff;
  border-radius: 5px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.container .setting_box .option input[type="checkbox"]::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1.2rem 1.2rem rebeccapurple;
          box-shadow: inset 1.2rem 1.2rem rebeccapurple;
}

.container .setting_box .option input[type="checkbox"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */